<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Demo Media Streaming</title>

</head>

<body>
  <div id='app'>
    <!-- <video id="videoPlayer" width="650" controls >
      <source src="/video" type="video/mp4" />
    </video> -->
    <!-- <audio  autoplay controls >
      <source src="/video" type="audio/mpeg" />
    </audio> -->
    <audio src="https://www.youtube.com/embed/T7L84nkXRao"  autoplay controls >
      <!-- <source src="/video" type="audio/mpeg" /> -->
    </audio>
    <!-- <video controls="controls" class="video-stream" x-webkit-airplay="allow" data-youtube-id="N9oxmRT2YWw" src="https://www.youtube.com/v/T7L84nkXRao"></video> -->
    
    <embed id="video" src="https://www.youtube.com/v/T7L84nkXRao" wmode="transparent" type="application/x-shockwave-flash"
    width="420" height="315" allowfullscreen="true" title="Adobe Flash Player"></embed>

  </div>
</body>

</html>